---
title: "Waiting for test results"
url: https://cancer.ca/en/cancer-information/what-is-cancer/waiting-for-test-results
date_scraped: 2025-11-09T20:40:56.413155
breadcrumbs:
  - Cancer Information
  - What Is Cancer
  - Waiting For Test Results
  - What is cancer?
---

# Waiting for test results

_Last medical review: September 2025_

You may have had some test to see if you have cancer. It often takes several tests, including a [biopsy](https://cancer.ca/en/treatments/tests-and-procedures/biopsy#ci_biopsy_89_3953_00), to diagnose or rule out cancer. Test results take time.

But it’s a lot of time spent waiting and worrying. And that’s really hard.

While you wait, you’re not alone if you feel:

  * anxious, worried, afraid or helpless
  * frustrated by how long it is taking to get results
  * unfocused and unable to concentrate on everyday life
  * like you can’t move on with life because you’re waiting for answers
  * out of control or like everything around you has changed
  * physically unwell (not sleeping well, upset stomach)

Your family and friends may be feeling the same way.

You may have many questions and concerns, such as:

  * Should I tell people that I’m having tests?
  * How is my healthcare team going to tell me about the test results?
  * Do I look for information now, or should I wait to find out what the tests results are?
  * What do I do if it’s cancer?
  * What do I do if it’s not cancer but something else?
  * What can I do to cope while I’m waiting for the test results?

## Coping while you wait

Two ways of coping while waiting for test results are distraction and attention.

**Distraction** means that you focus on something other than the test results. Some people distract themselves by keeping busy with a hobby, work or exercise. Others find it very helpful to get outside and use nature as a distraction. You can also try using relaxation, deep breathing or meditation.

**Attention** means that you focus on the cause of your anxiety – the test results – but with limits. One attention-coping strategy is to allow yourself a set amount of time to think about the test results. During the time when you let yourself focus on the thing that is making you anxious, it can be helpful to write about how you’re feeling. Writing about your emotions can help you process them. But once your set amount of time has passed, you stop and do something else. Another day, you might use the time to visit reputable websites to look up more about the tests or the results that you’re waiting for. But when your time is up, you stop searching, and you go on to other things.

## Working with your healthcare team

Your healthcare team can reassure you that it’s important to make sure that the test results are right so that you have the right diagnosis. Make sure you understand how you will receive the results. It’s OK to ask about when they should be ready and what to do if you haven’t received the results in the expected time frame.

## Find out more

You may find it helpful to find out more about [tests and procedures](https://cancer.ca/en/treatments/tests-and-procedures). To make the most of time you have with your doctor, think about [questions to ask about diagnosis](https://cancer.ca/en/living-with-cancer/coping-with-changes/working-with-your-healthcare-team/questions-to-ask/diagnosis-questions#ci_questions_to_ask_about_diagnosis_102_11551_00).

## Expert review and references

Expert review

  * Canadian Cancer Society | Société canadienne du cancer

References

  * Amcerican Cancer Society. _Waiting for Your Biopsy or Cytology Test Results_. 2023\. <https://www.cancer.org/>.

  * Conley S, Lenton C. Waiting for test results is like storm watching. Sometimes the worst part of a medical procedure is anticipating the outcome. _Medical Economics_. 2012: 89(5):69, 76.

  * MacMillan Cancer Support. _Cancer Tests and Waiting for Results_. 2023\. <https://www.macmillan.org.uk/>.

  * Portnoy DB. Waiting is the hardest part: anticipating medical test results affects processing and recall of important information. _Social Science & Medicine_. 2010: 71(2):421-428.